.aprobado{
    background-color: rgb(133, 246, 133);
    width: 80px;
}
.recupera{
    background-color: orange;
    width: 80px;
}
.recursa{
    background-color: red;
    width: 80px;
}
div{
    label{
        
        font-weight: bold;
}}

button{
    width: 100px;
}